<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
</style>

<div
    style="text-align: center; font-size: 2em; font-family: 'Roboto', sans-serif; font-weight: 700; color: #009688; margin-top: 15vh;">
    <img src="https://cdn-icons-png.flaticon.com/512/5161/5161320.png" alt=""
        style="width: 60%; max-width: 300px; margin-bottom: 20px;">
    <p style="margin-bottom: 10px; color: #009688;">Thanh Toán Sản Phẩm Thành Công !</p>
    <p style="color: #009688; font-size: 1.2em;">Kiểm tra sản phẩm ở phần hóa đơn</p>
</div>